@font-face {
font-family: 'fontefd160ca3dbd888898663c368aefb3b4';
    
    src:    url('https://nomail.com.ua/files/eot/efd160ca3dbd888898663c368aefb3b4.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/efd160ca3dbd888898663c368aefb3b4.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/efd160ca3dbd888898663c368aefb3b4.woff2') format('woff2');
}

@font-face { font-family: 'MullerRegular';  src: local('MullerRegular'), url('https://nomail.com.ua/files/woff/efd160ca3dbd888898663c368aefb3b4.woff') format('woff'); }