@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-image: url(img/OH3C4B0.png);
	background-repeat: no-repeat;
	background-size: cover;
}
header {
	background-color:#001122; 
	height: 140px;
	margin: -20px-20px 0 -20px;
	display: flex;
	width: 0 auto;
}

ul {
	display: flex;
	text-decoration: none;
	margin: 60px 0 60px 135px ;
}

button {

	width: 296px;
	background-color: #771111;
	height: 50px;
	color: #ffffff;
	margin-top: 85px;
	font-size: 20px;
	border-color: #771111;
}

.navigation{
	font-family: Montserrat;
	margin: 0 41px;
	color: white;
	list-style: none;
	font-size: 18px;
}
a {
	text-decoration: none;
	color: white;
	
}

.logo {
	margin: 32% 0 32% 152%;
}
 .up {
 	position: relative;

 	
 }
 .icon {
 	position: absolute;
 	right: 100px;
 }
 .icon2 {
 	margin: 0 10px;
 	color: white;
 	font-size: 18px;
 	list-style: none;
 	margin-left: 3px;
 }

 .conteiner {
 	margin-top: 90px;
	display: flex;
	flex-direction: column;
    justify-content: center;
 	align-items: center;
}
 .school {
	color: #ffffff;
	font-size: 100px;
	font-family: 'itlic' cursive;
	font-style: italic;
 }
 .location {
 	color: #ffffff;
 	font-size: 50px;
 	margin-top: 20px;
 	font-family: 'Debby';
 	font-style: italic;
	align-items: flex-end;
	
 }


